
}
a{

}
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}


h1 {
    font-family: "Verdana";
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    position: relative; /* Ajout de la position relative pour positionner la liste déroulante */
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav li {
    float: left;
    width: 25%;
    text-align: center;
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100; /* Assurez-vous que le menu est au-dessus du reste du contenu */
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

/* Styles pour la liste déroulante */
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid silver;
}

nav ul ul li {
    float: none;
    width: 100%;
    text-align: left;
}

nav ul ul a {
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-bottom: none;
}

nav ul ul a:hover {
    color: orange;
    border-bottom: none;
}

nav ul li:hover > ul {
    display: block;
}



.p2 {
    font-family: Arial;
    color: black;
    font-size: 30px;
    text-align: center;

}

h2 {
    font-family: "Verdana";
    text-align: center;
    color: #333333;
    border-bottom: black;
    background-color: grey;

}
.p12{
    width: 100px;
    height: 100px;

}
.p55{
    text-align: center;
}
p25 {
    text-align: right;
}



