
h1 { /* page d'acceuil */
    font-family: Bahnschrift;
    text-align: center;
    font-size: 30px;
}
p56{ /*Modification taille de police  */
    font-size: 20px;
}

* { /* Marge du texte et espace   */
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

nav ul { /* css pour menu  */
    list-style-type: none;
}

nav li { /* css pour menu  */
    float: left;
    position: relative;
}

nav ul::after { /* css pour menu  */
    content: "";
    display: table;
    clear: both;
}

nav li { /* css pour menu  */
    float: left;
    width: 25%;
    text-align: center;

}

nav { /* css pour menu  */
    width: 100%;
    margin: 0 auto;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a { /* css pour menu  */
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0;
}

nav a:hover { /* css pour menu  */
    color: orange;
    border-bottom: 2px solid gold;
}


nav ul ul { /* css pour menu  */
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid silver;
}

nav ul ul li { /* css pour menu  */
    float: none;
    width: 100%;
    text-align: left;
}

nav ul ul a { /* css pour menu  */
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-bottom: none;
}

nav ul ul a:hover { /* css pour menu  */
    color: orange;
    border-bottom: none;
}

nav ul li:hover > ul { /* css pour menu  */
    display: block;

}
h2 { /* Presentation du Bts SIO */
    font-family: "Verdana";
    text-align: center;
    color: #333333;
    border-bottom: black;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(160,160,196,1) 35%, rgba(0,212,255,1) 100%);

}


.p20{  /* Style pour un texte  */
    text-align: left;
    font-family: Arial;
    color: black;
    font-size: 30px;
    width: 130%;

}

.options-container {
    display: flex;
    justify-content: space-between;
}

.sisr-option, /* fond des textes des spécialités  */
.slam-option {
    width: 48%;
    text-align: left;

}

.sisr-option { /* fond des textes des spécialités  */
    background-color: white;
}

.slam-option { /* fond des textes des spécialités  */
    background-color: white;
}

.debouches-text{ /* couleur des débouchés SISR ET SLAM  */
    color: orange;
}
.options{ /* couleur des débouchés SISR ET SLAM  */
    color: orange;
}
body { /* corps du texte  */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.espace-entre-menu-et-texte { /* espace entre mon menu et mon body */
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer { /*  pied de page */
    background-color:  #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
}


/* text de copyrihgt pied de page */
.copyright-text {
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    color: white;
}

h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}
.options-container {
    display: flex;
    justify-content: space-between;
}

.sisr-option, /*Modification du texte de l'option SISR ET SLAM*/
.slam-option {
    width: 48%;
    text-align: left;
    margin-bottom: 20px;
}
/* Supression des points des metiers sur la page portefolio.html et style*/
.debouches-text {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;

}
/* Supression des points des metiers sur la page portefolio.html et style*/
.debouches-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Supression des points des metiers sur la page portefolio.html et style*/
.debouches-list li {
    margin-bottom: 5px;
}
.img{
    height: 50%;
    width: 10%;
}
p25{
    color: orange;
    font-weight: bold;
    font-size: 22px;
}
header {
    background-color: #3498db; /* Couleur de fond pour le header (bleu clair) */
    color: #fff; /* Couleur du texte */
    text-align: center;
}
nav { /*couleur de fond pour mon menu*/
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
}


.logos-container { /*Espace entre les logos du bas de page*/
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.logos-container img {  /*Définir la taille des logos*/
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.acceuil{ /*Mot page d'acceuil*/
    font-size: 70px;
    text-align: center;
    font-family: Bahnschrift;
    font-weight: bold;


}

